[Unit]
Description=Internet-Based Naloxone Safety Kit
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/usr/bin/python /path-to-your-python-project/python_file.py

[Install]
WantedBy=graphical.target
